.App {
  height: 100%;
  width: 100%;

  text-align: center;
  font-family: Roboto, Helvetica, sans-serif;
}

.select-map{
  position: absolute;
  left: 0;
  bottom: 0;
  background: white;
  border-radius: 5px;
}
