.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.map-container {
  height: 100vh;
  width: 100%;
}

.select-map{
  position: absolute;
  left: 0;
  bottom: 0;
  background: white;
  border-radius: 5px;
}

.selected-features {
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  border-radius: 5px;
}

.clicked-coord-label{
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 5px;
}

.clicked-coord-label p {
  margin: 10px;
}

.popup {
  background: red;
  border-radius: 5px;
}
