.MapTip {
  text-align: left;
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  border-radius: 5px;
  padding: 10px;
  width: 280px;
}

.feature-title h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.feature-title h3 a {
  text-decoration: none;
}

.feature-date {
  font-size: 90%;
  color: grey;
}
.feature-location {
  font-size: 90%;
  color: grey;
}
.feature-source {
  font-size: 90%;
  color: grey;
}
