.MapTip {
  text-align: left;
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  border-radius: 5px;
  padding: 10px;
  width: 280px;
}

.MapTip a, .MapTip a:active {
  color: #003366;
}

.feature-title h3 {
  margin-top: 0px;
  margin-bottom: 5px;

  color: #003366;
}
.feature-title h3 a {
  text-decoration: none;
}

.feature-date {
  font-size: 90%;
  color: #8a8587;
}
.feature-location {
  font-size: 90%;
  color: #8a8587;
}
.feature-source {
  font-size: 90%;
  color: #8a8587;
}
